html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

:root {
	--font-size: clamp(40px, 4vh + 12px, 80px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Cormorant Infant, sans-serif;
	margin: 0;
	font-weight: 400;
	line-height: 1.2;
}

body {
	margin: 0;
	font-family: Cormorant Infant, Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #ffffff;
	overscroll-behavior: none;
	background-color: black;
}



h1 {
	font-size: 2em;
}

h3 {
	font-size: calc(20px + 1vw);
	line-height: 1;
}

h4 {
	font-size: calc(16px + 1vw);
	line-height: 1;
}

a {
	color: inherit;
}

button {
	all: unset;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.main__head {
	text-align: center;
	white-space: pre-wrap;
	font-family: Cormorant Infant, sans-serif;
	font-weight: 300;
	padding-bottom: 2vh;
	padding-right: 50px;
	padding-left: 50px;
	font-size: var(--font-size);
	line-height: clamp(40px, 6.5vw + 12px, 90px);
}

.main__title {
	text-align: end;
	white-space: pre;
	font-family: Comfortaa, sans-serif;
	font-weight: 300;
	padding: 2vh;
	font-size: var(--font-size);
	line-height: clamp(40px, 6.5vw + 12px, 90px);
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

.back__button {
	width: 40px;
	height: 40px;
	cursor: pointer;
	position: absolute;
	top: 20px;
	left: 20px;
	border: 1.5px solid rgb(0, 183, 255);
	border-radius: 50%;
}